<?xml version='1.0' encoding='utf-8'?>
<widget id="com.varbrad.mobsandbox" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MobileSandbox</name>
    <description>
        TV reminder app
    </description>
    <author email="brad@bradlab.co.uk" href="https://bradlab.co.uk">Brad Davies</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="StatusBarBackgroundColor" value="#e64a19" />
    <plugin name="cordova-plugin-battery-status" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-statusbar" />
    <plugin name="cordova-plugin-vibration" />
    <plugin name="cordova-plugin-whitelist" />
    <plugin name="phonegap-plugin-barcodescanner" />
</widget>
