html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: "Noto Sans", "Open Sans", "Roboto", sans-serif;
}

nav {
  display: flex;
  z-index: 2;

  background-color: #E91E63;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);

  > .title {
    padding: .9rem;
    font-weight: 700;
    color: white;
    text-shadow: 0 4px 8px rgba(0, 0, 0, .1), 1px 1px 3px rgba(0, 0, 0, .1);
  }
}

main {
  flex: 1;
  overflow-y: scroll;
  z-index: 1;

  background-color: #F5F5F5;
}

footer {
  height: 2rem;
  z-index: 2;

  background-color: #90A4AE;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, .1);
}