doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Mobile Sandbox
  body
    #app
      h1 Hello
    script(src="cordova.js")