doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Mobile Sandbox
  body
    #app
      input(v-model="newTask")
      button.addTask(@click="submitTask") Add Task
      hr
      p.task(v-for="task in tasks" v-bind:class="{ completed: task.completed }")
        | {{ task.name }}
        span.date Added {{ formatedDate(task.created) }}
        button.modify(@click="modifyTask(task)") {{ task.completed ? '&#x2716;' : '&#x2714;' }}
        button.delete(@click="deleteTask(task)") Delete Task

    script(src="cordova.js")